@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
  
 
  

  .footer-link {
    text-decoration: none;
  }
  

  footer {
   background: #000615;
   max-width: 100%;
    /* height: 40rem; */
    margin-left: 0em;
    margin-top: 4rem;;
    background-size: cover;
  }
  .footer-red-image{
    visibility: visible;
  }
  .footer-blur-img1 {
    filter: blur(6.25rem);
  } 
  #blur-img1 {
    /* margin: 0rem; */
    
    padding: 0rem;
    height: 25.5rem;
    width: 20.75rem;
    position: absolute;
    
    right: 0rem;
  }
  .footer-blur-img2 {
    filter: blur(6.25rem);
  }
  
  #blur-img2 { 
    margin:0rem;
    padding:0rem;
     height: 25.5rem;
    width: 9.375rem;
    position: absolute;
    left:0rem;
  }
  .footer-section {
    display: flex;
    padding: 1rem;
  }
  .footer-elements {
    width: calc(100% / 3);
    padding: 0 1.9375rem;
    margin-left: 3rem;
  }
  .footer-heading {
    margin-bottom: 0.9375rem;
    font-size: 2.2vh;
    color:#f0f5f1
  }
  .footer-paragraph{
    font-size: 3vh;
    
    color: #fff;
  }
  .footer-unorder-list {
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  .footer-list {
    margin-bottom: 0.625rem;
    list-style: none;
  } 
  .footer-link{
    color: #f0f5f1;
    font-size: 3vh;
    
  }
  .footer-link:hover {
    color: #6af8d7;
  }
  .footer-social-icons {
    display: flex;
    column-gap: 1.7rem;
    width:2.5rem;
    height:2.5rem;
  }
  .footer-social-icons i {
    color: white; 
  }
  
  .footer-social-icons li {
    margin-bottom: 0rem;
    width:2.5rem;
    height:2.5rem;
  }
  .footer-social-icons li a {
    display:flex;
    place-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background-color: #6fabff00;
    
  }
  .footer-copyright {
    text-align: center;
    color: #fff;
    padding: 0.6rem 0;
    
  }
  .footer-logo{
    margin-right: 10rem;
    width:80%;
    height: 60%;
  }

  /* Responsive adjustments */
  
  @media screen and (min-width: 320px) and (max-width: 480px) {

    footer {
      background: #000615;
       max-width: 100%;
       height: 80rem;
       margin-right: auto;
       margin-left: auto;
       margin-top: 4rem;;
       background-size: cover;
      
     }

    .footer-elements {
      margin: 1rem 0;
      width: 18.5rem;
      
      padding: 0;
      display: flex;
      justify-content: space-around;
    }
    .footer-red-image{
      visibility: hidden;
    }
    .footer-section {
      display: block;
      flex-wrap: wrap;
      height: 45.125rem;
    }
    .footer-heading {
      font-size: 1.3125rem;
      margin-top:2rem;
    }
    .footer-paragraph{
      font-size: 1.38rem;
      
      padding: 0.938rem;
      margin-left:5rem;
    }
    .footer-link {
      font-size: 1.375rem;
      
    }
    .footer-social-icons li a {
      width: 1.875rem;
      height: 1.875rem;
      transform: translate(-2.5rem,5.375rem);
    }
    .footer-logo{
      width: 13rem;
      margin-left:4.5rem;
      margin-top:2rem;
            
    }
    .footer-horizontal-line{
      margin-top: 1.5rem;
    }
    .footer-horizontal1-line{
      margin-top: 25.5rem;
    }
    .footer-copyright {
      text-align: center;
      color: #fff;
      padding: 2rem ;
      
    }
    
  }
 @media  screen and (min-width: 480px) and (max-width: 767px) {

    footer {
      background: #000615;
       max-width: 100%;
       height: rem;
       margin-left: auto;
       margin-right: auto;
       margin-top: 4rem;
       
       background-size: cover;
     }

    .footer-elements {
      margin: 1rem ;
      width:20rem;
      margin-left: 5rem;
      padding: 0;
      display: flex;
      justify-content: space-around;
    }
    .footer-red-image{
      visibility: hidden;
    }
    .footer-section {
      display: block;
      flex-wrap: wrap;
      height: 45.125rem;
    }
    .footer-heading {
      font-size: 1.3125rem;
      margin-top:2rem;
    }
    .footer-paragraph{
      font-size: 1.38rem;
      text-align: center;
      padding: 0.938rem;
    }
    .footer-link {
      font-size: 1.375rem;
      width:20rem;
      transform:translateX(10rem);
      
    }
    .footer-social-icons li a {
      width: 1.875rem;
      height: 1.875rem;
      transform: translate(-2.5rem,5.375rem);
    }
    .footer-logo{
      width: 13rem;
      margin-left:3.5rem;
      margin-top:2rem;
            
    }
    .footer-horizontal-line{
      margin-top: 1.5rem;
      width:100%;
    }
    .footer-horizontal1-line{
      margin-top: 20.5rem;
      width: 100%;
    }
    .footer-copyright {
      text-align: center;
      color: #fff;
      padding: 1rem ;
      
    }
    
  }
 
 @media  screen and (min-width: 768px) and (max-width: 1024px) {

    footer {
      background: #000615;
       max-width: 100%;
      height: 85rem;
       margin-left: auto;
       margin-right: auto;
       margin-top: 4rem;
       
       background-size: cover;
     }

    .footer-elements {
      margin: 1rem ;
     height: max-content;
      width:30rem;
      margin-left: 12rem;
      padding: 0;
      display: flex;
      justify-content: space-around;
    }
    .footer-red-image{
      visibility: hidden;
    }
    .footer-section {
      display: block;
      flex-wrap: wrap;
      height: 45.125rem;
    }
    .footer-heading {
      font-size: 2rem;
      margin-top:2rem;
    }
    .footer-paragraph{
      font-size: 2rem;
      text-align:start;
      padding: 0.938rem;
      margin-left: 3rem;
    
    }
    .footer-link {
      font-size: 2rem;
      width:20rem;
      transform:translateX(10rem);
      
    }
    .footer-social-icons li a {
      width: 2rem;
      height: 2rem;
      transform: translate(-2.5rem,5.375rem);
    }
    .footer-logo{
      width: 13rem;
      margin-left:3.5rem;
      margin-top:2rem;
            
    }
    .footer-horizontal-line{
      margin-top: 1.5rem;
      width:100%;
    }
    .footer-horizontal1-line{
      margin-top: 32.5rem;
      width: 100%;
    }
    .footer-copyright {
      text-align: center;
      color: #fff;
      padding: 1rem ;
      margin-left: 5rem;
      
    }
    
  }

  @media  screen and (min-width: 1024px) and (max-width: 1280px) {

    footer {
      background: #000615;
       max-width: 100%;
      height: 85rem;
       margin-left: auto;
       margin-right: auto;
       margin-top: 4rem;
       
       background-size: cover;
     }

    .footer-elements {
      margin: 1rem ;
     height: max-content;
      width:30rem;
      margin-left: 25rem;
      padding: 0;
      display: flex;
      justify-content: space-around;
    }
    .footer-red-image{
      visibility: hidden;
    }
    .footer-section {
      display: block;
      flex-wrap: wrap;
      height: 45.125rem;
    }
    .footer-heading {
      font-size: 2rem;
      margin-top:2rem;
    }
    .footer-paragraph{
      font-size: 2rem;
      text-align:start;
      padding: 0.938rem;
      margin-left:5rem;
    
    }
    .footer-link {
      font-size: 2rem;
      width:20rem;
      transform:translateX(10rem);
      
    }
    .footer-social-icons li a {
      width: 2rem;
      height: 2rem;
      transform: translate(-2.5rem,5.375rem);
    }
    .footer-logo{
      width: 13rem;
      margin-left:3.5rem;
      margin-top:2rem;
            
    }
    .footer-horizontal-line{
      margin-top: 1.5rem;
      width:100%;
    }
    .footer-horizontal1-line{
      margin-top: 32.5rem;
      width: 100%;
    }
    .footer-copyright {
      text-align: center;
      color: #fff;
      padding: 1rem ;
      margin-left: 5rem;
      
    }
    
  }
  