


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'DM Sans', sans-serif;
  }
  
  .link {
    text-decoration: none;
  }
  

  footer {
   background: #000615;
    width: 112.5rem;

    background-size: cover;
  }
  .red-image{
    visibility: visible;
  }
  .blur-img1 {
    filter: blur(6.25rem);
  } 
  #blur-img1 {
    margin: 0rem;
    padding: 0rem;
    height: 25.5rem;
    width: 20.75rem;
    position: absolute;
    
    right: 0rem;
  }
  .blur-img2 {
    filter: blur(6.25rem);
  }
  
  #blur-img2 { 
    margin:0rem;
    padding:0rem;
     height: 25.5rem;
    width: 9.375rem;
    position: absolute;
    left:0rem;
  }
  .footer-section {
    display: flex;
    padding: 1rem;
  }
  .footer-elements {
    width: calc(100% / 3);
    padding: 0 0.9375rem;
  }
  .heading {
    margin-bottom: 0.9375rem;
    font-size: 1.5rem;
    color:#f0f5f1
  }
  .paragraph{
    font-size: 1rem;
    line-height: 1.3rem;
    color: #fff;
  }
  .unorder-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .list {
    margin-bottom: 0.625rem;
    list-style: none;
  } 
  .link{
    color: #f0f5f1;
    font-size: 1rem;
  }
  .link:hover {
    color: #6af8d7;
  }
  .social-icons {
    display: flex;
    column-gap: 0.625rem;
    width:2.5rem;
    height:2.5rem;
  }
  .social-icons i {
    color: white; 
  }
  .logo{
    width:10%;
    height: 25%;
  }
  .social-icons li {
    margin-bottom: 0rem;
    width:2.5rem;
    height:2.5rem;
  }
  .social-icons li a {
    display:flex;
    place-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background-color: #6fabff00;
    
  }
  .copyright {
    text-align: center;
    color: #fff;
    padding: 0.6rem 0;
    
  }
  .logo{
    margin-right: 10rem;
    width:20rem;
    height: 18rem;
  }
  
  /* Responsive adjustments */
  
  @media screen and (max-width: 768px) {

    .footer-elements {
      margin: 1rem 0;
      width: 22.5rem;
      padding: 0;
      display: flex;
      justify-content: space-around;
    }
    .red-image{
      visibility: hidden;
    }
    .footer-section {
      display: block;
      flex-wrap: wrap;
      height: 38.125rem;
    }
    .heading {
      font-size: 1.3125rem;
    }
    .paragraph{
      font-size: 0.938rem;
      text-align: center;
      padding: 0.938rem;
    }
    .link {
      font-size: 0.9375rem;
    }
    .social-icons li a {
      width: 1.875rem;
      height: 1.875rem;
      transform: translate(-2.5rem,0.375rem);
    }
    .logo{
      width: 9rem;
      
    }
    .horizontal-line{
      margin-top: 1.5rem;
    }
  }
  