


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'DM Sans', sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
 /* body {
    height: 100%;
    width: 100%;
    background-color: #eceef9;
  } */
  
  footer {
    
   
   background: #000615;
    width: 112.5rem;

    background-size: cover;
    position: fixed;
    bottom: 0;
  }
  .vectors{
    visibility: visible;
  }
  .blur-img1 {
    filter: blur(6.25rem);
  }
  
  #blur-img1 {
    margin: 0rem;
    padding: 0rem;
    height: 37.5rem;
    width: 13.75rem;
    position: absolute;
    
    right: 0rem;
  }
  
  .blur-img2 {
    filter: blur(6.25rem);
  }
  
  #blur-img2 {
    margin:0rem;
    padding:0rem;
     height: 37.5rem;
    width: 9.375rem;
    position: absolute;
    
    left:0rem;
  }


  .row {
    display: flex;
    padding: 1rem;
  }
  
  .column {
    width: calc(100% / 3);
    padding: 0 0.9375rem;
  }
  
  h4 {
    margin-bottom: 0.9375rem;
    font-size: 1.5rem;
    color:#f0f5f1
  }
  
  p {
    font-size: 1rem;
    line-height: 1.3rem;
    color: #fff;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 0.625rem;
  }
  
  ul li a {
    color: #f0f5f1;
    font-size: 1rem;
  }
  
  ul li i {
    color: #6faaff;
  }
  
  ul li a:hover {
    color: #6af8d7;
  }
  
  ul.social-icons {
    display: flex;
    column-gap: 0.625rem;
    width:2.5rem;
    height:2.5rem;
  }
  
  .social-icons i {
    color: white;
    
  }

  .logo{
    width:10%;
    height: 25%;
  }
  

 
  ul.social-icons li {
    margin-bottom: 0rem;
    width:2.5rem;
    height:2.5rem;
  }
  
  ul.social-icons li a {
    display:flex;
    place-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    background-color: #6fabff00;
    
  }
  
  
  
  .copyright {
    text-align: center;
    color: #fff;
    
    padding: 0.6rem 0;
    
  }
  
  /* Responsive adjustments */
  
  @media screen and (max-width: 400px) {
    .column {
      margin: 1rem 0;
      width: 360px;
      padding: 0;
      display: flex;
      justify-content: space-around;
    }
    .vectors{
      visibility: hidden;
    }
    .row {
      display: block;
      flex-wrap: wrap;
      height: 610px;
    }
  
    h4 {
      font-size: 1.3125rem;
    }
  
    p {
      font-size: 15px;
      text-align: center;
      padding: 15px;
    }
  
    ul li a {
      font-size: 0.9375rem;
    }
  
    ul.social-icons li a {
      width: 1.875rem;
      height: 1.875rem;
      transform: translate(-40px,6px);
    }
    .logo{
      width: 9rem;
    }
    hr{
      margin-top: 1.5rem;
    }
  }
  