* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000615;
}
#landing {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.landing {
  animation: fadein 2s 2s;
  transform: translateX(-75px);
}
.main {
  transform: translateX(-100px);
}

/* red shades on the sides */
.main-vector-left {
  height: 80vh;
  width: 15vw;
  position: absolute;
  top: 10vh;
  background-color: #70262688;
  filter: blur(80px);
  border-radius: 500px;
  transform: translateX(-150px);
  animation: fadein-left 2s;
}
.main-vector-right {
  height: 80vh;
  width: 15vw;
  position: absolute;
  right: 0;
  top: 10vh;
  background-color: #70262688;
  filter: blur(80px);
  border-radius: 500px;
  transform: translateX(150px);
  animation: fadein-right 2s;
}

/* fadein animation keyframes */
@keyframes fadein-left {
  from {
    opacity: 0;
    transform: translateX(-250px);
  }
  to {
    opacity: 1;
    transform: translateX(-150px);
  }
}
@keyframes fadein-right {
  from {
    opacity: 0;
    transform: translateX(250px);
  }
  to {
    opacity: 1;
    transform: translateX(150px);
  }
}

#ecell-logo {
  scale: 0.6;
}
.main-sub-heading {
  font-family: "Inter";
  font-weight: 400;
  font-size: 2.5rem;
  color: #ffffff;
}

.main-heading {  
  font-family: "K2D";
  font-style: normal;
  font-weight: 700;
  font-size: 9rem;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(0, 255, 240, 0.75) 24.48%,
    rgba(3, 198, 11, 0.77) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

button {
  height: 4.5rem;
  margin: 1.25rem;
  padding: 0 5rem 0 5rem;
  /* background: linear-gradient(90deg, #00afa8 1.56%, #00865a 100%); */
  background: linear-gradient(90deg, var(--c1, #00afa8), var(--c2, #00865a) 51%, var(--c1, #00afa8)) var(--x, 0)/ 200%;
  transition: 0.5s;
  border-radius: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  border: none;
  color: #000615;
}

button:hover {
  --x: 100%; 
  font-size: 2.25rem;
}
.rules-button {
  /* background: linear-gradient(90deg, #01a26d 0%, #046a16 100%); */
  background: linear-gradient(90deg, var(--c1, #01a26d), var(--c2, #046a16) 51%, var(--c1, #01a26d)) var(--x, 0)/ 200%;
}

.column {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  animation: pop-down 2s cubic-bezier(0.075, 0.82, 0.165, 1) 2s ;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: "Inter";
  padding: 0 15vw;
  margin-top: 100px;
}

.nav-list-item {
  text-decoration: none;
  font-size: 30px;
  line-height: 36px;
}

.nav-link {
  color: whitesmoke;
  text-decoration: none;
}

.nav-link:hover {
  color: #00afa8;
}

/* animations on loading of the landing page */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pop-down {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}

/* mobile media query with responsive font sizes */
@media screen and (max-width: 768px) {
  .main-vector-left, .main-vector-right {
    display: none;
  }
  #landing {
    /* this centers everything idk how */
    display: block;
  }
  .landing, .main {
    transform: translateX(0);
    max-width: 100vw;
    margin: 0;
  }
  #ecell-logo {
    height: 20rem;
    margin-top: 2rem;
  }
  .logo-container {
    padding: 0;
    margin: 0;
  }
  .main-heading {
    font-size: 3rem;
  }
  .main-sub-heading {
    font-size: 1rem;
    margin-bottom: 0.2rem;
  }
  button {
    height: 3rem;
    /* width: 20rem; */
    font-size: 1.25rem;
    font-style: bold;
    padding: 0 2rem 0 2rem;
    margin: 1rem;
  }
  .buttons-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav {
    display: none;
  }
}