#timeline {
  font-family: "DM Sans";
  color: #ffffff;
  background-color: #000615;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}
.timeline-heading {
  margin: 5% 0 0 0;
  font-size: 7rem;
}

.timeline-date {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.timeline-event {
  font-size: 2rem;
  width: 400px;
}

.timeline-items {
  position: absolute;
  top: 27.5em;
}

.container {
  position: relative;
  margin-bottom: 5.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-right {
  display: flex;
  justify-content: flex-end;
  transform: translateX(13em);
}

.container-left {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  text-align: right;
  transform: translateX(-12em);
}
.container-left text h2 {
  text-align: right;
}
.logo-item {
  margin: 10px;
  width: 4rem;
}

.info {
  width: 3.5rem;
}
.form {
  width: 5rem;
}
.idea {
  width: 3rem;
}

/* mobile media query */
@media screen and (max-width: 768px) {
  .timeline-items {
    top: 14.5rem;
  }
  .timeline-heading {
    font-size: 4em;
    margin: 0;
    height: auto;
  }

  .timeline-date {
    font-size: 1.25em;
  }
  .timeline-event {
    font-size: 1em;
    width: 150px;
  }
  .line-svg {
    width: 18rem;
  }
  .logo-item {
    width: 2rem;
  }
  .form {
    width: 3rem;
  }
  .idea {
    width: 1.5rem;
  }
  .container {
    margin-bottom: 4rem;
  }
  .container-right {
    transform: translateX(5rem);
  }
  .container-left {
    transform: translateX(-5rem);
  }
}
