#timeline {
  font-family: "DM Sans";
  color: #ffffff;
  background-color: #000615;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.timeline-heading {
  margin: 5% 0 0 0;
  font-size: 7rem;
  line-height: 167px;
}

.timeline-date {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.timeline-event {
  font-size: 2rem;
  width: 400px;
}

.timeline-items {
  position: absolute;
  top: 27.5em;
}

.container {
  position: relative;
  width: 100%;
  /* margin: 10em 0 10em 0; */
  margin-bottom: 5.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #000615; */
}

.container-right {
  display: flex;
  justify-content: flex-end;
  transform: translateX(13em);
  animation: fadein-right-timeline 2s ease;
}

.container-left {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  text-align: right;
  transform: translateX(-12em);
  animation: fadein-left-timeline 2s ease;
}
.container-left text h2 {
  text-align: right;
}

@keyframes fadein-left-timeline {
  0% {
    opacity: 0;
    transform: translateX(-20em);
  }
  100% {
    opacity: 1;
    transform: translateX(-12em);
  }
}
@keyframes fadein-right-timeline {
  from {
    opacity: 0;
    transform: translateX(20em);
  }
  to {
    opacity: 1;
    transform: translateX(13em);
  }
}

.logo-item {
  margin: 10px;
  width: 4rem;
}

.info {
  width: 3.5rem;
}
.form {
  width: 5rem;
}
.idea {
  width: 3rem;
}

/* mobile media query */
@media screen and (max-width: 768px) {
  .timeline-heading {
    font-size: 4em;
    margin: 0;
    height: auto;
  }

  .timeline-date {
    font-size: 1.5em;
  }
  .timeline-event {
    font-size: 1em;
  }
  .line-svg {
    width: 18rem;
    min-height: 200vh;
  }
  .logo-item {
    width: 2rem;
  }
  .container-right {
    transform: translateX(0);
  }
  .container-left {
    transform: translateX(0);
  }
}

.one {
  height: 160vh;
  width: 15vw;
  position: absolute;
  top: 20vh;
  background-color: #70262688;
  filter: blur(150px);
  border-radius: 500px;
  transform: translateX(-150px);
  /* animation to fade it in from the left */
  animation: fadein-left 2s;
}
.two {
  height: 160vh;
  width: 15vw;
  position: absolute;
  right: 0;
  top: 20vh;
  /* transform: translateX(750%); */
  background-color: #70262688;
  filter: blur(150px);
  border-radius: 500px;
  transform: translateX(150px);
  animation: fadein-right 2s;
  /* transform: rotate(180deg); */
}
/* fadein animation keyframes */
@keyframes fadein-left {
  from {
    opacity: 0;
    transform: translateX(-250px);
  }
  to {
    opacity: 1;
    transform: translateX(-150px);
  }
}
@keyframes fadein-right {
  from {
    opacity: 0;
    transform: translateX(250px);
  }
  to {
    opacity: 1;
    transform: translateX(150px);
  }
}
